<div class="container">
    <div class="columnts">
        <div class="column">
            <div class="content">
                <div id="chat" class="chat-wrapper">
                    <div class="columns">
                        <div class="column is-3">
                            <aside class="menu">
                                <div class="media-content"><p class="title is-4">{{user_login}}</p>
                                    <p class="subtitle is-6">@{{user_id}}</p>
                                    <p class="menu-label"> Public chat rooms</p>
                                    <ul class="menu-list rooms">
                                        <li  *ngFor="let room of chat?.rooms"><a (click)="open_room(room._id)" class="">{{room.name}}</a>
                                        </li>
                                        <li><a class="is-active create-new" (click)="open_modal()">Create new<span
                                                class="create-icon is-pulled-right icon is-small"><i
                                                class="fa fa-plus"></i></span></a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="column is-9">
                            <div class="container">
                                <div class="notification"><span *ngIf="current_room_id != ''">Current room: &nbsp;<strong>{{current_room.name}}</strong></span><span *ngIf="current_room_id == ''"><strong>Please select room!</strong></span>
                                    <div class="title is-6">{{current_room?.description}}
                                    </div>
                                </div>
                                <div class="chat-messages-wrapper" id="scroller">
                                    <article class="media" *ngFor="let message of current_room_messages">
                                        <figure class="media-left">
                                            <div class="image is-32x32">
                                                <div class="user-avatar">{{message.author.charAt(0)}}</div>
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p><strong>{{message.author}}</strong><br>{{message.body}}<br>
                                                    <small>{{message.date}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </article>

                                </div>
                                <div class="chat-typer" *ngIf="current_room_id != ''">
                                    <article class="media">
                                        <figure class="media-left">
                                            <div class="image is-32x32">
                                                <div class="user-avatar">d</div>
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <div class="span help is-danger" style="display: none;">Please insert name
                                                of
                                                the chat room
                                            </div>
                                            <p class="control"><textarea id="textarea" [(ngModel)]="textarea_message"
                                                                         placeholder="Your message"
                                                                         class="textarea" ></textarea></p>
                                            <p class="control">
                                                <button class="button" (click)="trigger_send_message()">send</button>
                                            </p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head"><p class="modal-card-title">Create new chat room</p>
                                <button class="delete"></button>
                            </header>
                            <section class="modal-card-body">
                                <div class="control"><input required type="text" placeholder="Chat room name" class="input">
                                    <div class="span help is-danger" *ngIf="error_room">Please insert name of the
                                        chat room
                                    </div>
                                </div>
                                <div class="control"><textarea required placeholder="Chat room description"
                                                               class="textarea"></textarea></div>
                            </section>
                            <footer class="modal-card-foot"><a class="button is-success">Create</a><a class="button">Cancel</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal is-active" *ngIf="modal_status">
    <div class="modal-background" (click)="close_modal()"></div>
    <div class="modal-card">
        <header class="modal-card-head"><p class="modal-card-title">Create new chat room</p>
            <button (click)="close_modal()" class="delete"></button>
        </header>
        <section class="modal-card-body">
            <div class="control"><input type="text" [(ngModel)]="room_name" placeholder="Chat room name" class="input">
                <div class="span help is-danger" *ngIf="error_room">Please insert name of the chat room</div>
            </div>
            <div class="control"><textarea [(ngModel)]="room_textarea" placeholder="Chat room description" class="textarea"></textarea></div>
        </section>
        <footer class="modal-card-foot"><a (click)="trigger_create_room()" class="button is-success">Create</a><a class="button" (click)="close_modal()">Cancel</a></footer>
    </div>
</div>