<div class="container">
    <div class="columnts">
        <div class="column">
            <div class="content">
                <div id="chat" class="chat-wrapper">
                    <div class="columns">
                        <div class="column is-3">
                            <aside class="menu">
                                <div class="media-content"><p class="title is-4">{{user_login}}</p>
                                    <p class="subtitle is-6">@590b4e0db032b08c3a37494a</p>
                                    <p class="menu-label"> Public chat rooms</p>
                                    <ul class="menu-list rooms">
                                        <li *ngFor="let room of chat.rooms"><a (click)="open_room(room._id)" class="">{{room.name}}</a>
                                        </li>
                                        <li><a class="is-active create-new">Create new<span
                                                class="create-icon is-pulled-right icon is-small"><i
                                                class="fa fa-plus"></i></span></a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="column is-9">
                            <div class="container">
                                <div class="notification">Current room: &nbsp;<strong>{{current_room.name}}</strong>
                                    <div class="title is-6">Elo
                                    </div>
                                </div>
                                <div class="chat-messages-wrapper">
                                    <article class="media" *ngFor="let message of current_room_messages">
                                        <figure class="media-left">
                                            <div class="image is-32x32">
                                                <div class="user-avatar">{{message.author.charAt(0)}}</div>
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p><strong>{{message.author}}</strong><br>{{message.body}}<br>
                                                    <small>{{message.date}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </article>

                                </div>
                                <div class="chat-typer">
                                    <article class="media">
                                        <figure class="media-left">
                                            <div class="image is-32x32">
                                                <div class="user-avatar">d</div>
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <div class="span help is-danger" style="display: none;">Please insert name
                                                of
                                                the chat room
                                            </div>
                                            <p class="control"><textarea placeholder="Your message"
                                                                         class="textarea"></textarea></p>
                                            <p class="control">
                                                <button class="button" (click)="trigger_send_message()">send</button>
                                            </p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head"><p class="modal-card-title">Create new chat room</p>
                                <button class="delete"></button>
                            </header>
                            <section class="modal-card-body">
                                <div class="control"><input type="text" placeholder="Chat room name" class="input">
                                    <div class="span help is-danger" style="display: none;">Please insert name of the
                                        chat room
                                    </div>
                                </div>
                                <div class="control"><textarea placeholder="Chat room description"
                                                               class="textarea"></textarea></div>
                            </section>
                            <footer class="modal-card-foot"><a class="button is-success">Create</a><a class="button">Cancel</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <script src="/vue/chat.js"></script>
            </div>
        </div>
    </div>
</div>